/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# For future me and whoever else it may concern:
# There are lots of arguments for and against including this file for gems in
# general: https://github.com/ruby/rexml/issues/278.
# For this repo: CI jobs should discover breakage with the latest dependencies.
Gemfile.lock
